body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-nav {
  display: flex;
  align-items: center;
  width: 320px;
  height: 56px;
  margin: 0 auto;
  justify-content: space-between;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}
.nav-link :hover {
  color: #404bbf;
}
.current {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .current::before {
  background-color: #fff;
}
.nav-list .current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.hero-btn-open {
  margin-left: 140px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.hero-btn-icon {
  display: block;
  fill: #2f2f37;
}
.nav-ref {
  padding: 24px 0;
}
.contact-info .contact-list {
  display: flex;
  align-items: center;
}
.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  gap: 40px;
}
.tran {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li {
  margin-right: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  /* margin-left: 76px; */
}
.logo-s {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contact-info {
  font-style: normal;
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.hero-section {
  background: #2e2f42;
  /* padding: 188px 0 188px; */
  padding: 52px 0 52px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  /* max-width: 1440px; */
  max-width: 100%;
}
.hero-title {
  /* font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff; */
  /* max-width: 496px;
  margin: 0 auto 48px auto; */
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  margin-left: 52px;
  margin-right: 52px;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin: auto;
  margin-bottom: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
.ul-feature {
  display: flex;
  /* justify-content: center; */
  /* gap: 24px; */
  flex-wrap: wrap;
  gap: 72px;
}
.feature-subtitle {
  text-align: center;
  /* font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42; */
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.feature-text {
  /* font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455; */
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-subtitle {
  margin-bottom: 8px;
}
.feature-sect {
  padding: 96px 0;
}
.feature-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: none;
}
.team {
  padding: 120px 0;
  background: #f4f4fd;
}
.card-team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  gap: 72px;
  flex-wrap: wrap;
}
.card-image {
  display: block;
  max-width: 100%;
}
.card-text {
  display: block;
  align-items: center;
  padding: 32px 0;
}
.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-member {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: 500;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.teammate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.teammate-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.soc-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.li-icon {
  width: 40px;
  height: 40px;
}
.icon-soc {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.li-icon :hover {
  background-color: #31d0aa;
}
.li-icon :focus {
  background-color: #31d0aa;
}
.team-soc-icon {
  fill: #f4f4fd;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  background: #fff;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  width: 100%;
  background: url("path_to_image");
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-d {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
  margin-bottom: 8px;
}
.porfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-slide {
  position: relative;
  overflow: hidden;
}
.portfolio-slide-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-slide-text {
  transform: translateY(0%);
}
.site-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  background: #2e2f42;
  padding: 100px 0;
}
.logo-part-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-f {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.soc-foot {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  align-items: center;
}
.foot-icon {
  display: flex;
  gap: 16px;
}
.icon-li-foot {
  width: 40px;
  height: 40px;
}
.href-foot-soc:hover {
  background-color: #31d0aa;
}
.href-foot-soc:focus {
  background-color: #31d0aa;
}
.svg-icon-f {
  fill: #f4f4fd;
}
.container-f-lt {
  /* margin-right: 120px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
}
.href-foot-soc {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sub-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form-sub-foot {
  align-items: center;
  gap: 24px;
}
.input-sub-foot {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.btn-sub-foot {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 16px auto;
}
.swg-sub-icon {
  margin-left: 16px;
}
.use-sub-icon {
  fill: #ffffff;
}
.container-sub-foot {
}
.container-mod-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mod-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 408px; */
  width: 288px;

  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.btn-mod-window {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-mod-window:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.btn-mod-window:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.svg-btn-mod {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.p-mod-window {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-mod-window {
  margin-bottom: 8px;
}
.label-form-window {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-form-window {
  position: relative;
}
.input-window {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-window:focus {
  border-color: #4d5ae5;
}
.svg-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-window:focus + .svg-icon-input {
  fill: #4d5ae5;
}
.form-mod-window-comm {
  margin-bottom: 16px;
}
.textarea-form-window {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form-window:focus {
  border-color: #4d5ae5;
}
.check-window {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.label-privacy-window {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-label-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.span-icon-privacy {
}
.visually-hidden:checked + .label-privacy-window > .span-label-privacy {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.ref-privacy-mod {
  color: #4d5ae5;
}
.form-btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.container-mod-window .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-icon {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
.mobile-menu-contact {
  display: flex;
  gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mobile-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}

.nav-list,
.contact-info {
  display: none;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mobile-x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .hero-btn-open {
    display: none;
  }
  .container {
    max-width: 768px;
  }
  .container-nav {
    width: 768px;
    height: 72px;
  }
  .nav-list,
  .contact-info {
    display: block;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  .logo {
    margin-right: 76px;
  }
  .black {
    color: #2e2f42;
  }
  .contact-list,
  .contact-info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    gap: 12px;
  }
  .hero-section {
    max-width: 100%;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet-x1.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet-x2.jpg);
    }
  }
  .hero-title {
    margin-right: 136px;
    margin-left: 136px;
    margin-top: 112px;
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
  .hero-button {
    margin-top: 36px;
    margin-bottom: 112px;
  }
  .li-feature {
    width: calc((100% - 3 * 24px) / 2);
  }
  .feature-subtitle {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .feature-sect {
    padding: 96px 16px;
  }
  .portfolio-card {
    width: calc((100% - 48px) / 2);
  }
  .img-port-tab {
    width: 356px;
    height: 300px;
  }
  .container-f-lt {
    width: 264px;
    height: 112px;
    margin-left: 108px;
  }
  .logo-f {
    padding-right: 150px;
  }
  .container-f {
    width: 208px;
    height: 80px;
    margin-left: 24px;
    margin-bottom: 104px;
  }
  .soc-foot {
    margin-right: 110px;
  }
  .form-sub-foot {
    display: flex;
    gap: 24px;
  }
  .sub-text {
    margin-right: 410px;
  }
  .container-sub-foot {
    margin-left: 108px;
    margin-bottom: 0;
  }
  .mod-window {
    width: 408px;
    height: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
  .hero-btn-open {
    display: none;
  }
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-pc-x1.jpg);
    max-width: 100%;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-pc-x2.jpg);
    }
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container-nav {
    width: 100%;
    height: 72px;
    margin: auto;
  }
  .contact-info {
    font-style: normal;
    margin: auto;
  }
  .contact-list {
    gap: 40px;
    flex-direction: row;
    margin-left: 332px;
  }
  .hero-section {
    width: 100%;
  }
  .hero-title {
    margin-right: 472px;
    margin-left: 472px;
    margin-top: 112px;
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    align-items: center;
    color: #fff;
  }
  .hero-button {
    margin-top: 48px;
    margin-bottom: 112px;
    margin-left: 635px;
    margin-right: 636px;
  }
  .feature-sect {
    padding: 120px 0;
  }
  .li-feature {
    width: calc((100% - 3 * 24px) / 4);
    align-items: center;
  }
  .feature-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .ul-feature {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .card-team {
    gap: 24px;
  }
  .portfolio-card {
    width: calc((100% - 48px) / 3);
    width: 360px;
    height: 300px;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 120px;
  }
  .img-port-tab {
    width: 360px;
    height: 300px;
  }
  .container-f-lt {
    margin: auto;
    margin-right: 0;
    padding-bottom: 120px;
  }
  .container-sub-foot {
    margin: auto;
    margin-left: 80px;
    padding-bottom: 80px;
  }
  .container-f {
    margin: auto;
    padding-bottom: 120px;
  }
  .mod-window {
    width: 408px;
    height: 584px;
  }
}
